*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# API Keys 
**/ApiConfig.kt

# Additional build files
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/